/* input[type=date]::-webkit-datetime-edit {
    color: transparent
} */

.datePicker{
    display: flex;
    flex-direction: row;
}
.datePicker input{
    width: 100%;
}

.time-incident-ul li{
    margin-right: 10px !important;
}