
   <section class="forgot-pass">
    <div class="container">
        <div class="sign-in-content">
            <div class="orange-div">
                <p class="welcome-subtext">Forgot Password</p>
            </div>
            <div class="sign-in-form">
                <form action="/action_page.php">
                    <div class="mb-3 mt-3 form-div-content">
                      <label for="email">Enter your Registered Email :</label>
                      <input type="email" [(ngModel)]="email" class=""  placeholder="Enter your email" name="email">
                    </div> 
                    <button type="submit" (click)="onGetOTP()" class="btn-common mt-md-2 sign-in-btn ">Get OTP</button>
                    <div class="reset-signin">
                      <a routerLink="/signin"> Sign In</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
   </section>

   <ngx-spinner 
   bdColor="rgba(51,51,51,0.8)"
   size="large"
   color="#000000"
   type="ball-scale-multiple"></ngx-spinner>