<section class="forgot-pass">
    <div class="container">
        <div class="sign-in-content">
            <h2 class="generate-text  mx-auto">Make your Payment</h2>
            <div class="card-bank-pafrent p-3">
                <h3 class="h3-color mb-2">Your Subscription Amount is of $5.00 / month</h3><br><br>
                <div class="payment-method-div">
                    <p class="card-info-text">Choose your Payment Method:</p><br>
                    <div class="apple-btn">
                        <button>
                            <i class="fa fa-apple"></i>
                            Pay
                        </button>
                    </div>
                </div><br><br>
                <p class="mb-3 text-center ach-text">--Or Pay with Cards--</p><br>
                <div class="payment-method-div">
                    <div class="apple-btn">
                        <button (click)="pay(5)">
                            Pay $5.00
                        </button>
                    </div>
                </div><br><br>
                <!-- <div class="card-info-div">
                    <p class="card-info-text">Card Information</p>
                    <div class="card-info-subdiv">
                        <div class="visa-card-detail">
                            <input placeholder="4587 8785 8785 9878" class="w-100 mb-3">
                            <img src="assets/images/visa.png">
                        </div>
                        <div class="card-year-cvv mb-3">
                            <input placeholder="MM/YY">
                            <input placeholder="CVV">
                        </div>
                    </div>
                </div> -->
                <!-- <p class="mb-3 text-center ach-text">--Or ACH Paymet--</p>
                <div class="card-info-div">
                    <div class="card-info-subdiv  ">
                        <div class="card-year-cvv bank-detail-div ">
                            <input placeholder="Name on Account">
                            <input placeholder="Bank Name">
                        </div>
                        <div class="card-year-cvv bank-detail-div ">
                            <input placeholder="Routing Code">
                            <input placeholder="Account Number">
                        </div>
                        <div class="card-ach-selection">
                            <div class="selection-div">
                                <input type="radio">
                                <label>Saving </label>
                            </div>
                            <div class="selection-div">
                                <input type="radio">
                                <label>Checking </label>
                            </div>
                        </div>
                        <button class="btn-common">Proceed</button>
                    </div>

                </div> -->
                <button class="btn-common">Proceed</button>
            </div>
        </div>
    </div>
</section>